/* content */

.content {
    margin: 20px;
}

/* collapsible section */

.collapsible > .collapsed-content {
    margin: 0 32px;
}

.collapsible > .collapsed-content > :last-child {
    margin-bottom: 20px;
}