/* title section */

.title {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    height: 300px;
    padding: 0 20px;
    margin: 20px 0;
}

.title > h1 {
    font-size: 3em;
}

/* middle content section */

.content {
    padding: 20px;
}

.content > div {
    margin: 20px 0;
    font-size: 1.5em;
}

.content > :first-child {
    margin-top: 0;
}

.blue-text {
    color: #15A0CA;
}

/* mailing list section */

.mailing {
    background-color: #28282a;
}