/* title section */

.title {
    background-image: url('../img/gradient.gif');
    background-color: lightblue;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.title > div {
    color: black;
    font-size: 3em;
    font-weight: normal;
}

/* middle content section */

.content {
    padding: 20px;
}

.content > div {
    margin: 20px 0;
    font-size: 1.5em;
}

.content > :first-child {
    margin-top: 0;
}

.blue-text {
    color: #1663be;
}

/* mailing list section */

.mailing {
    background-color: #28282a;
}